@model IssueBodyModel
@using Utilities.EnumerableExtensions
@using System.IO;
@using Website_Generator.Models
@using Utilities
<div class="container">

  <div class="jumbotron">
    <a href="@Model.Cover.IndexName">
      <img 
        src="@Model.CoverThumbnailUrl" 
        width="@Model.Cover.ThumbnailImageDisplayWidth" 
        height="@Model.Cover.ThumbnailImageDisplayHeight" 
        class="img-thumbnail" 
        alt="Preview for cover"/>
    </a>
  </div>

@foreach( var batch in Model.GetPages().InBatchesOf( 4 ) ) {
  <div class="row">
  @foreach( var page in batch ) {
    @Model.RenderThumbnail(
      linkUrl: page.IndexName,
      description: page.DisplayName,
      imgUrl: UriPath.CombineWithDepth(
              3, 
              Model.Config.RelativeThumbnailImageDir, 
              Model.Decade.DirectoryName, 
              Model.Issue.DirectoryName, 
              page.FileName ),
      imgWidth: page.ThumbnailImageDisplayWidth,
      imgHeight: page.ThumbnailImageDisplayHeight,
      imgAltText: page.DisplayName );
  }
  </div>
}
</div>