@model SiteLayoutModel
@using Website_Generator.Models
<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8"/>
    	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    	<meta name="viewport" content="width=device-width, initial-scale=1"/>
 	    <title>@Model.PageTitle</title>
	@foreach( var cssUrl in Model.GetCssUrls() ) {
		<link href="@cssUrl" rel="stylesheet"/>
	}
		<link rel="shortcut icon" href="@Model.IconUrl"/>
	</head>
	<body class="@Model.Body.BodyClass">
  	<div class="navbar navbar-default navbar-fixed-top" role="navigation">  
		<div class="container">
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<ul class="breadcrumb list-inline">
				@foreach( var link in Model.Body.GetBreadcrumbParts() ) {
					if( link.HasUrl ) {
						<li><a href="@link.Url">@link.Name</a></li>
					} else {
						<li class="active">@link.Name</li>
					}
				}
					</ul>
				</ul>
				<div class="nav navbar-right">
					<div class="btn-group">
					@if( Model.Body.Previous != null )
					{
						<a class="btn navbar-btn btn-default btn-page" href="@Model.Body.Previous.Url">
							<span class="glyphicon glyphicon-chevron-left"/>
						</a>
					} else {
						<button class="btn navbar-btn btn-default btn-page" disabled="disabled">
							<span class="glyphicon glyphicon-chevron-left"/>
						</button>
					}
						<button class="btn navbar-btn btn-default" disabled="@Model.Body.AllowResizeText" onClick="toggleHorizontal();">
							<span class="glyphicon glyphicon-resize-horizontal"/>
						</button>
						<button class="btn navbar-btn btn-default" disabled="@Model.Body.AllowResizeText" onClick="toggleVertical();">
							<span class="glyphicon glyphicon-resize-vertical"/>
						</button>  										
					@if( Model.Body.Next != null )
					{
						<a class="btn navbar-btn btn-default btn-page" href="@Model.Body.Next.Url">
							<span class="glyphicon glyphicon-chevron-right"/>
						</a>
					} else {
						<button class="btn navbar-btn btn-default btn-page" disabled="disabled">
							<span class="glyphicon glyphicon-chevron-right"/>
						</button>
					}
					</div>
				</div>
			</div>
		</div>
	</div>
  	@Model.RenderBody()
@foreach( var jsUrl in Model.GetJSUrls() ) {
	<script src="@jsUrl"></script>
}
	</body>
</html>