@model ThumbnailModel
<div class="col-md-3 col-sm-3 col-sx-3">
	<a href="@Model.LinkUrl">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">@Model.Description</h3>
			</div>
			<div class="panel-body">
				<img src="@Model.ImgUrl" width="@Model.ImgWidth" height="@Model.ImgHeight" class="img-thumbnail center-block" alt="@Model.ImgAltText"/>
			</div>
		</div>
	</a>
</div>